/* @import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css"); */

#root {
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}

header h1 {
  padding-bottom: 20px;
}

#textarea {
  height: 5rem;
}

button {
  width: 100px;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.form {
  display: flex;
  flex-direction: column;
}

.navbar ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}

.posts-div {
  display: flex;
  border: 2px solid black;
  border-radius: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #888;
  justify-content: space-between;
  height: fit-content;
}

.exp-image {
  height: 200px;
  width: auto;
  padding: 5px;
  border-radius: 15px;
}

.main-posts {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

h2 {
  font-size: 1.5rem;
}

.left-posts {
  display: flex;
  flex-direction: column;
  width: 60%;
  padding-left: 5px;
  padding-right: 5px;
}

.right-posts {
  display: flex;
  align-items: center;
}

.titles {
  font-weight: bold;
}

.form-header {
  padding-top: 10px;
  padding-bottom: 20px;
}

li {
  font-size: 1.5rem;
}

@media (max-width: 500px) {
  .navbar ul {
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
  }

  .posts-div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
